.MoviesList {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 36px;

  max-width: calc(100vw - 48px);
  justify-content: center;
  align-items: center;
}
